In [170]:
import pandas as pd

In [258]:
df1 = pd.read_excel('headphone.xlsx')

In [259]:
df2 = pd.read_excel('headphone2.xlsx')

In [260]:
df3 = pd.read_excel('headphone3.xlsx')

In [261]:
df4 = pd.read_excel('headphone4.xlsx')

In [262]:
df5 = pd.read_excel('headphone5.xlsx')

In [263]:
df6 = pd.read_excel('headphone6.xlsx')

In [264]:
df7 = pd.read_excel('headphone7.xlsx')

In [265]:
df8 = pd.read_excel('headphone8.xlsx')

In [266]:
df9 = pd.read_excel('headphone10.xlsx')

In [267]:
df10 = pd.read_excel('tv3.xlsx')

In [268]:
df = pd.concat([df2,df3,df4,df5,df6,df7,df8,df9],axis=0)

In [269]:
df = df.drop(['Unnamed: 0'],axis=1)

In [270]:
list1 = df[3].to_list()

In [271]:
Review = []
for i in list1:
    Review.append(''.join(i.split('\n')[1] +' ' +  i.split('\n')[-3]))

In [272]:
len(Review)

17885

In [273]:
df[1].fillna('Not availble',inplace=True)

In [274]:
Rating = df[1].to_list()

In [275]:
len(Rating)

17885

In [276]:
Amazon = pd.DataFrame(zip(Review,Rating),columns=('Review','Rating'))

In [277]:
a = pd.read_excel('tv3.xlsx').drop(['Unnamed: 0'],axis=1)

In [278]:
list2 = a[0].to_list()

In [279]:
list2[10]

'Umesh katkar\nOverall good\nReviewed in India on July 26, 2022\nPattern Name: Y1 SeriesSize: 32 inchesVerified Purchase\nSound is average\n\nHelpful\nReport abuse'

In [280]:
list1[10]

'Satyam tiwari\nIts Good but Not the best\nReviewed in India on May 25, 2022\nPattern Name: Y1 SeriesSize: 32 inchesVerified Purchase\nIts good Android Tv , but hangs a lot , Picture Quality is good but not the best\nHelpful\nReport abuse'

In [281]:
Review1 = []
for i in list2:
    Review1.append(''.join(i.split('\n')[1] +' ' +  i.split('\n')[-3]))

In [282]:
a[1] = a[1].str.replace('3.8 out of 5 stars','4.0 out of 5 stars').str.replace('3.9 out of 5 stars','4.0 out of 5 stars').str.replace('4.1 out of 5 stars','4.0 out of 5 stars').str.replace('4.2 out of 5 stars','4.0 out of 5 stars')

C:\Users\anish\AppData\Local\Temp/ipykernel_9432/2292338391.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  a[1] = a[1].str.replace('3.8 out of 5 stars','4.0 out of 5 stars').str.replace('3.9 out of 5 stars','4.0 out of 5 stars').str.replace('4.1 out of 5 stars','4.0 out of 5 stars').str.replace('4.2 out of 5 stars','4.0 out of 5 stars')

In [283]:
a[1].unique()

array(['4.0 out of 5 stars', '3.0 out of 5 stars', '5.0 out of 5 stars',
       '1.0 out of 5 stars', '2.0 out of 5 stars'], dtype=object)

In [284]:
Rating1 = a[1].to_list()

In [285]:
am = pd.DataFrame(zip(Review1,Rating1),columns=('Review','Rating'))

In [286]:
Amazon_Review = pd.concat([Amazon,am],axis=0)

In [287]:
Amazon_Review['Rating'] = Amazon_Review['Rating'].str.replace('.0 out of 5 stars','')

C:\Users\anish\AppData\Local\Temp/ipykernel_9432/3306000309.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  Amazon_Review['Rating'] = Amazon_Review['Rating'].str.replace('.0 out of 5 stars','')

In [288]:
ef1 = pd.read_excel("boat1.xlsx")
ef2 = pd.read_excel("camera.xlsx")
ef3 = pd.read_excel("head2.xlsx")
ef4 = pd.read_excel("head3.xlsx")
ef5 = pd.read_excel("head4.xlsx")
ef6 = pd.read_excel("head5.xlsx")
ef7 = pd.read_excel("head6.xlsx")
ef8 = pd.read_excel("laptop1.xlsx")
ef9 = pd.read_excel("smartwatch1.xlsx")
ef10 = pd.read_excel("smartwatch2.xlsx")
ef11= pd.read_excel("smartwatch3.xlsx")
ef12 = pd.read_excel("smartwatch4.xlsx")

In [289]:
fl = pd.concat([ef1,ef2,ef3,ef4,ef5,ef6,ef7,ef8,ef9,ef10,ef11,ef12],axis=0)

In [290]:
fl.drop(['Unnamed: 0'],axis=1,inplace=True)

In [291]:
list3 = fl[0].to_list()

In [292]:
list3[0].split('\n')

['4',
 'Pretty good',
 'I brought this watch to gift it to my wife, and she likes too much. The design is good, the touch of watch is very responsive and smooth, overall its been good choice for gifting.',
 '',
 "Cons weather can't synchronised.",
 'Aatish Shah',
 'Certified Buyer, Nadiad',
 '6 months ago',
 '726255']

In [293]:
Rating2 = []
for i in list3:
    Rating2.append(i[0])

In [294]:
list3[0].split('\n')[1:-4]

['Pretty good',
 'I brought this watch to gift it to my wife, and she likes too much. The design is good, the touch of watch is very responsive and smooth, overall its been good choice for gifting.',
 '',
 "Cons weather can't synchronised."]

In [308]:
Review2 = []
for i in list3:
    Review2.append(' '.join(i.split('\n')[1:-4]))

In [309]:
len(Rating2)

10960

In [310]:
flipkart = pd.DataFrame(zip(Review2,Rating2),columns=('Review','Rating'))

In [311]:
Rating_prediction = pd.concat([Amazon_Review,flipkart],axis=0)

In [312]:
Rating_prediction.reset_index(inplace = True)

In [313]:
Rating_prediction.drop('index',axis=1,inplace=True)

In [315]:
Rating_prediction

                                                  Review Rating
0                                       Value for money       4
1                                              Good Good      4
2                                           Nice led TV       4
3                                             Very good       4
4      Processing very slow All thing is good but pro...      5
...                                                  ...    ...
30450                     Must buy! Very smooth and good      5
30451                Best in the market! this is awesome      5
30452                            Must buy! Good purchase      5
30453                              Nice Decent product ðŸ‘Œ      3
30454  Perfect product! It is good product and low co...      5

[30455 rows x 2 columns]

In [316]:
Rating_prediction['Rating'].value_counts()

5               14315
4                8199
1                3405
3                2875
2                1228
Not availble      433
Name: Rating, dtype: int64

In [317]:
Rating_prediction = Rating_prediction.replace('Not availble',None)

In [318]:
Rating_prediction = Rating_prediction.dropna()

In [319]:
Rating_prediction

                                                  Review Rating
0                                       Value for money       4
1                                              Good Good      4
2                                           Nice led TV       4
3                                             Very good       4
4      Processing very slow All thing is good but pro...      5
...                                                  ...    ...
30450                     Must buy! Very smooth and good      5
30451                Best in the market! this is awesome      5
30452                            Must buy! Good purchase      5
30453                              Nice Decent product ðŸ‘Œ      3
30454  Perfect product! It is good product and low co...      5

[30455 rows x 2 columns]

In [322]:
Rating_prediction['Rating'] = Rating_prediction['Rating'].astype(int)

In [323]:
Rating_prediction.to_excel('Rating_prediction.xlsx')